.invite-index {
  .invite-box {
    width: 100%;
    background-color: #1755d1;
    .invite-top {
      width: 100%;
      height: 305px;
      background-size: 100% 100%;
      display: flex;
      justify-content: flex-end;
      .top-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
          margin-top: 7px;
          text-align: left;
          padding: 3px 12px 3px 7px;
          background: rgba(89, 126, 211, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.12);
          display: inline-block;
          width: auto;
          font-size: 12px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          color: rgba(255, 255, 255, 0.8);
          span {
            display: inline-block;
            transform: translateY(0.5px) scale(0.9);
            margin-left: 4px;
          }
          white-space: nowrap;
        }
        p:first-child {
          width: 60px;
        }
      }
    }
    .p-12 {
      padding: 12px;
    }
    .invite-box-1 {
      width: 100%;
      height: 300px;
      background-size: 100% 100%;
      margin-top: -98px;
      padding-top: 44px;
      .box-1-top {
        width: 321px;
        height: 137px;
        background-size: 100% 100%;
        margin: 0 auto;
      }
      .box-1-bottom {
        margin-top: 14px;
        .btn-qr {
          width: 100%;
          padding: 0 12px;
          display: flex;
          button {
            flex: 1;
            outline: none;
            border: 0;
            background-image: url("../../assets/images/box_1_btn.png");
            background-size: 100% 100%;
            font-size: 16px;
            color: white;
            img{
              width: 13px;
              height: 13px;
              vertical-align: middle;
              margin-left: 6px;
            }
          }
          .share-qr {
            width: 44px;
            height: 44px;
            border: 1px solid #6f97f1;
            border-radius: 4px;
            margin-left: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 19px;
              height: 19px;
            }
          }
        }
        .share-link {
          display: flex;
          width: 100%;
          padding: 0 12px;
          padding-top: 8px;
          overflow: hidden;
          .link-public {
            .label {
              font-size: 12px;
              color: #5f8bef;
              transform: scale(0.9);
              text-align: left;
              margin-left: -5px;
            }
            .link-inner {
              display: flex;
              justify-content: space-between;
              margin-top: 4px;
              border-radius: 2px;
              border: 1px solid rgba(154, 182, 245, 0.72);
              padding: 4px 2px;
              p {
                transform: scale(0.9);
                font-size: 12px;
                color: #333;
                font-weight: 500;
                white-space: nowrap;
              }
              img {
                width: 12px;
                height: 12px;
                margin-right: 6px;
              }
            }
          }
          .link-code {
            width: 94px;
            white-space: nowrap;
            margin-right: 12px;
          }
          .link-url {
            flex: 1;
            .label {
              margin-left: -12px;
            }
            .link-inner {
              p {
                display: inline;
                transform: scale(0.9) translateX(-4px);
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 200px;
                // width: 50%;
              }
            }
          }
        }
      }
    }
    .invite-box-2 {
      width: 100%;
      height: 594px;
      background-size: 100% 100%;
      margin-top: 12px;
      .ranking-mine {
        text-align: right;
        font-size: 14px;
        font-weight: 500;
        color: white;
        padding-right: 18%;
        padding-top: 6px;
      }
      .three-list {
        ul {
          display: flex;
          justify-content: center;
          li {
            width: 27%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .three-avatar {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 4px;
              img {
                height: 100%;
              }
            }
            p:nth-child(2) {
              font-size: 12px;
              column-rule: #999;
              transform: scale(0.9);
            }
            p:last-child {
              font-size: 12px;
              color: #1a46aa;
              font-weight: 500;
              margin-top: 2px;
            }
            .p-24 {
              padding-top: 16px;
              p {
                color: #999;
                padding-top: 24px;
              }
            }
          }
          li:first-child {
            padding-top: 21%;
          }
          li:nth-child(2) {
            padding-top: 12%;
          }
          li:last-child {
            padding-top: 27%;
          }
        }
      }
      .other-list {
        margin-top: 38%;
        .no-data {
          font-size: 14px;
          color: #999;
          padding-top: 40px;
        }
        li {
          display: flex;
          justify-content: space-between;
          padding: 0 12px;
          align-items: center;
          margin-bottom: 20px;
          .other-left {
            display: flex;
            align-items: center;
            p:first-child {
              width: 20px;
              margin-right: 10px;
              text-align: left;
              font-size: 14px;
              color: #333;
              font-weight: 500;
            }
            p:last-child {
              font-size: 14px;
              color: #666;
              margin-left: 10px;
            }
          }
          .other-right {
            font-size: 14px;
            color: #333;
          }
          .other-avatar {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
            }
          }
        }
      }
    }
    .invite-btn {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 6px 12px;
      background-color: white;
      z-index: 200;
      display: flex;
      border-top: 1px solid #f8f8f8;
      box-shadow: 0px 0px 0px 0px rgba(230, 230, 230, 0.5);
      .invite-qr {
        width: 44px;
        height: 44px;
        background-color: #ebf1ff;
        border-radius: 4px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .invite-btn-inner {
        flex: 1;
        button {
          width: 100%;
          height: 100%;
          background-color: #1755d1;
          border-radius: 4px;
          border: 0;
          outline: none;
          color: white;
          font-size: 16px;
        }
      }
    }
  }
  .poster-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    transition: 0.3s all;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
    .poster-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 100;
    }
    .remark-save {
      width: 196px;
      height: 60px;
      background: url("../../assets/images/save_bg.png");
      background-size: 100% 100%;
      margin-top: 12px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 8px;
      position: relative;
      z-index: 200;
    }
  }
  .show-poster {
    z-index: 300;
    opacity: 1;
  }
}
.en-invite {
  .invite-top {
    background-image: url("../../assets/images/invite_title.png");
  }
  .invite-box-1 {
    background-image: url("../../assets/images/invite_box_1.png");
    .box-1-top {
      background-image: url("../../assets/images/box_1_inner.png");
    }
  }
  .invite-box-2 {
    background-image: url("../../assets/images/invite_box_2.png");
  }
}
.th-invite {
  .invite-top {
    background-image: url("../../assets/images/invite_title_th.png");
  }
  .invite-box-1 {
    background-image: url("../../assets/images/invite_box_1_th.png");
    .box-1-top {
      background-image: url("../../assets/images/box_1_inner_th.png");
    }
  }
  .invite-box-2 {
    background-image: url("../../assets/images/invite_box_2_th.png");
  }
}
.ru-invite {
  .invite-top {
    background-image: url("../../assets/images/invite_title_ru.png");
  }
  .invite-box-1 {
    background-image: url("../../assets/images/invite_box_1_ru.png");
    .box-1-top {
      background-image: url("../../assets/images/box_1_inner_ru.png");
    }
  }
  .invite-box-2 {
    background-image: url("../../assets/images/invite_box_2_ru.png");
    .ranking-mine {
      padding-right: 12% !important;
    }
  }
}
.before-create-1 {
  width: 240px;
  height: 428px;
  position: absolute;
  // opacity: 0;
  top: -100%;
  z-index: 500;
  img {
    width: 100%;
    height: 100%;
  }
  p {
    position: absolute;
    left: -18px;
    bottom: 68px;
    font-size: 12px;
    color: white;
    transform: scale(0.8);
    white-space: nowrap;
  }
  .qr-box {
    position: absolute;
    right: 18px;
    bottom: 6px;
  }
}
.swiper-container {
  width: 200%;
  height: 428px;
  display: flex;
  position: relative;
  z-index: 200;
}
.swiper-slide {
  font-size: 18px;
  height: 428px;
  background: #fff;
  transition: 300ms;
  transform: scale(0.8) !important;

  img {
    width: 100%;
    height: 100%;
  }
}
.show-scale-8 {
  transform: scale(0.8) !important;
}
.swiper-slide-active,
.swiper-slide-duplicate-active {
  transform: scale(1) !important;
}
.share-popup {
  padding: 24px 12px;
  .share-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    p {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }
  }
  .share-apps {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li {
        width: 25%;
        .apps-icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          .icon-box {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            justify-items: center;
          }
          img {
            height: 100%;
          }
          p {
            margin-top: 8px;
            font-size: 12px;
            color: #333;
          }
        }
      }
      li:last-child {
        margin-top: 12px;
      }
    }
  }
}
