.help-detail {
  .detail-box {
    padding: 16px 12px;
    width: 92%;
    margin: 0 auto;
    background-color: white;
    margin-top: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
  }
}
