.inv-detail {
  overflow: hidden;
  .white-content {
    width: 92%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  .level-title {
    padding: 20px 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  .inv-msg {
    width: 100%;
    display: flex;
    background: #eee;
    border-radius: 8px;
    padding: 20px 12px;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    p {
      font-size: 14px;
    }
    p:last-child {
      span {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
  .inv-date {
    text-align: right;
    font-size: 14px;
    margin-top: 12px;
    color: #666;
  }
  .inv-list {
    padding: 12px;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin-top: 16px;
    ul {
      li {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #666;
        margin-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #eee;
        justify-content: space-between;
        p {
          width: 30%;
          text-align: center;
        }
        p:first-child {
          display: flex;
          flex-direction: column;
        }
      }
      .other-size {
        p:nth-child(2) {
          font-size: 12px;
        }
      }
      li:first-child {
        border: 0;
        margin-bottom: 12px;
      }
      li:last-child {
        border: 0;
      }
    }
  }
  .four-item {
    ul {
      li {
        p {
          width: 25%;
        }
        p:first-child {
          font-size: 12px;
        }
      }
    }
  }
}
