@font-face {
  font-family: "iconfont"; /* Project id 3604085 */
  src: url('iconfont.woff2?t=1667461117368') format('woff2'),
       url('iconfont.woff?t=1667461117368') format('woff'),
       url('iconfont.ttf?t=1667461117368') format('truetype'),
       url('iconfont.svg?t=1667461117368#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofangqi-bofang:before {
  content: "\e6a4";
}

.icon-xiazai-2:before {
  content: "\e638";
}

.icon-a-bianzu32:before {
  content: "\e634";
}

.icon-a-bianzu2:before {
  content: "\e635";
}

.icon-a-bianzu11:before {
  content: "\e636";
}

.icon-bianzu3:before {
  content: "\e637";
}

.icon-a-bianzu31:before {
  content: "\e63a";
}

.icon-bianzu2:before {
  content: "\e63b";
}

.icon-a-bianzu41:before {
  content: "\e63c";
}

.icon-bianzu11:before {
  content: "\e63d";
}

.icon-iOS:before {
  content: "\e62a";
}

.icon-a-googleplay:before {
  content: "\e62b";
}

.icon-android:before {
  content: "\e62c";
}

.icon-close:before {
  content: "\e6a7";
}

.icon-right:before {
  content: "\e642";
}

.icon-shangjia:before {
  content: "\e629";
}

.icon-a-xinzengshanghubeifen4:before {
  content: "\e620";
}

.icon-a-xinzengshanghubeifen47:before {
  content: "\e621";
}

.icon-a-xinzengshanghubeifen46:before {
  content: "\e622";
}

.icon-a-xinzengshanghubeifen44:before {
  content: "\e623";
}

.icon-a-xinzengshanghubeifen42:before {
  content: "\e624";
}

.icon-a-xinzengshanghubeifen45:before {
  content: "\e625";
}

.icon-bianzu1:before {
  content: "\e626";
}

.icon-a-xinzengshanghubeifen41:before {
  content: "\e627";
}

.icon-a-xinzengshanghubeifen43:before {
  content: "\e628";
}

.icon-a-bianzu3:before {
  content: "\e61c";
}

.icon-a-bianzu4:before {
  content: "\e61d";
}

.icon-bianzu:before {
  content: "\e61e";
}

.icon-a-bianzu17:before {
  content: "\e61f";
}

.icon-a-bianzu1:before {
  content: "\e61b";
}

