.home-index-outside {
  .nav-logo {
    height: 44px;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-right: 22px;
    .bibi-logo {
      // width: 110px;
      height: 28px;
    }
    .down-icon {
      height: 37px;
    }
  }
  .home-banner {
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    .banner-items {
      height: 155px;
      img {
        width: 100%;
        height: 100%;
      }
      p {
        line-height: 180px;
      }
    }
    .video-box {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 7000;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .video-mask {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100%;
      }
      video {
        width: 100%;
        position: relative;
        z-index: 300;
      }
      .iconfont {
        color: white;
        font-size: 44px;
        position: relative;
        z-index: 310;
        margin-top: 86px;
      }
    }
    .ann-box {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 28px;
      background-color: rgba(0, 0, 0, 0);
      padding: 0 12px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ann-left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .ann-icon {
          width: 20px;
          height: 18px;
          background-color: #8659ff;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 4px;
          img {
            width: 12px;
            height: 12px;
          }
        }
        .ann-swiper {
          height: 18px;
          width: 50%;
          .adm-swiper-vertical {
            .adm-swiper-track-inner {
              height: 18px;
              text-align: left;
              p {
                font-size: 12px;
                color: white;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              line-height: 18px;
            }
          }
        }
      }
    }

    .ann-list-icon {
      position: absolute;
      right: 8px;
      bottom: 6px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  .outside-card {
    margin: 8px 0;
    padding: 0 12px;
    .card-public {
      border-radius: 4px;
      background-color: white;
      height: 155px;
    }
    .oper-assets {
      display: flex;
      justify-content: space-between;
      .left-card {
        flex: 1;
        background: url("../../assets/images/out/out_left.png");
        background-size: 100% 100%;
        margin-right: 8px;
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 24px;
            img {
              width: 26px;
              height: 26px;
            }
            p {
              font-size: 12px;
              color: #333;
              font-weight: 500;
              margin-top: 6px;
            }
          }
        }
      }
    }
    .right-card {
      width: 192px;
      background: url("../../assets/images/out/out_bg.png");
      background-size: 100% 100%;
      padding: 18px 13px;
      text-align: left;
      p:first-child {
        font-size: 16px;
        color: #333;
        font-weight: 500;
      }
      p:nth-child(2) {
        font-size: 12px;
        color: #666;
        margin-top: 2px;
      }
      p:last-child {
        margin-top: 8px;
        padding: 6px 8px;
        background-color: rgba(216, 216, 216, 0.21);
        font-size: 12px;
        color: #666;
        font-weight: 500;
        display: table;
      }
    }
    .help-ann {
      margin-top: 8px;
      border-radius: 4px;
      .left-card {
        padding: 10px;
        width: 100%;
        margin-right: 8px;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 4px;
        overflow: hidden;
        img {
          width: 34px;
          height: 34px;
          margin-right: 6px;
        }
        ul {
          display: flex;
          width: 100%;
          justify-content: space-between;
          li {
            display: flex;
            text-align: left;
            align-items: center;
            padding: 15px 6px;
            width: calc(50% - 4px);
            background-color: #fbfbfb;
            .text-content {
              p:first-child {
                font-size: 14px;
                color: #333;
                font-weight: bold;
                margin-bottom: 4px;
              }
              p:last-child {
                font-size: 12px;
                color: #999;
              }
            }
          }
        }
      }
    }
  }
  .f-12-list {
    font-size: 12px;
    ul {
      li {
        width: 25%;
        p {
          white-space: wrap;
        }
      }
    }
  }
  .home-tex-card {
    background: white;
    padding: 20px 0;
    padding-bottom: 6px;
    .adm-page-indicator-dot-active {
      background-color: #f68b3b;
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding-left: 12px;
      li {
        width: 25%;
        .coin-qu {
          font-size: 12px;
          color: #333;
          font-weight: 500;
          text-align: left;
        }
        .coin-price {
          font-size: 16px;
          font-weight: bold;
          text-align: left;
          margin: 8px 0;
        }
        .coin-rate {
          font-size: 12px;
          border-radius: 4px;
          display: inline-block;
          display: flex;
          img {
            width: 34px;
            height: 11px;
            margin-right: 6px;
          }
        }
      }
      .up-color {
        .coin-price {
          color: #00c087;
        }
        .coin-rate {
          color: #00c087;
        }
      }
      .down-color {
        .coin-price {
          color: #fd7a56;
        }
        .coin-rate {
          color: #fd7a56;
        }
      }
    }
  }
  .home-tes-list {
    margin-top: 12px;
    background-color: white;
    padding: 12px;
    .list-title {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 12px;
      border-bottom: 1px solid #eee;
      color: #3370ff;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 19px;
        height: 19px;
        margin-right: 7px;
      }
    }
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f8f8f8;
        padding: 12px 0;
        .list-public {
          display: flex;
          align-items: center;
        }
        .list-sort {
          width: 16px;
          height: 16px;
          font-size: 12px;
          color: #e8a833;
          margin-right: 8px;
          line-height: 16px;
          font-weight: 500;
        }
        .coin-msg-hour {
          text-align: left;
          font-size: 14px;
          color: #333;
          p {
            font-weight: 500;
          }
          p:last-child {
            margin-top: 4px;
            color: #c5c5c6;
          }
        }
        .list-price {
          font-size: 14px;
          margin-right: 24px;
        }
        .list-rate {
          font-size: 13px;
          font-weight: 500;
          padding: 8px 6px;
          min-width: 60px;
          border-radius: 4px;
        }
      }
      .up-color {
        .list-price {
          color: #00c087;
        }
        .list-rate {
          background-color: #00c087;
          color: white;
        }
      }
      .down-color {
        .list-price {
          color: #fd7a56;
        }
        .list-rate {
          background-color: #fd7a56;
          color: white;
        }
      }
    }
  }
}
.load-tes {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
