.down-btn {
  width: 144px;
  height: 46px;
  display: flex;
  align-items: center;
  left: 50%;
  margin-left: -72px;
  position: fixed;
  bottom: 58px;
  z-index: 1000;
  backdrop-filter: blur(1px);
  img:first-child {
    width: 18px;
    height: 18px;
    margin-right: -4px;
  }
  img:last-child {
    width: 128px;
    height: 46px;
  }
}
.without-left{
  img:first-child {
    margin-right: 4px;
  }
}
.asx-down{
  .down-btn{
    img:last-child{
      height: 38px;
    }
    img:first-child{
      margin-right: 4px;
    }
  }
}
