.dg-enter {
    transform: translateX(200px)
}

.dg-enter-active {
    transition: 2s;
    transform: translateX(0px)
}

.dg-enter-done {
    transform: translateX(0px)
}

/* 出场动画过程 */
.dg-exit {
    transform: translateX(0px)
}

.dg-exit-active {
    transition: 2s;
    transform: translateX(200px)
}

.dg-exit-done {
    transform: translateX(200px)
}

.home,
.user,
.login,
.animate {
    position: absolute;
    left: calc(50% - 200px)
}