.tes-detail {
  .tes-price-msg {
    padding: 18px 12px;
    background-color: white;
    display: flex;
    .msg-public {
      width: 50%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .high-public {
        display: flex;
        justify-content: space-between;
      }
    }
    .price-box {
      p {
        font-weight: bold;
        font-size: 16px;
      }
      p:first-child {
        font-size: 30px;
        margin-bottom: 4px;
      }
    }
    .up-color {
      p {
        color: #00c087;
      }
    }
    .down-color {
      p {
        color: #ff7858;
      }
    }
    .price-high {
      p {
        font-size: 12px;
        font-weight: bold;
      }
      p:first-child {
        color: #999;
        font-weight: 400;
      }
    }
  }
  .tes-price-k {
    padding: 8px 0;
    background-color: white;
    border-top: 2px solid #f8f8f8;
    .adm-tabs-header {
      border: 0;
    }
    .adm-tabs-tab {
      font-weight: bold;
      color: #777;
    }
    .echarts-box {
      width: 92%;
      height: 430px;
      margin-left: 5%;
    }
  }
  .tes-deal-msg {
    border-top: 5px solid #f8f8f8;
    background-color: white;
    margin-top: -32px;
    padding: 16px 0;
    .deal-title {
      font-size: 16px;
      font-weight: 500;
      color: #3070ff;
    }
    .deal-list {
      margin: 22px 0;
      li {
        .deal-cen {
          p:last-child {
            transform: translateX(-16px);
          }
        }
      }
    }
    ul {
      padding: 0 12px;
      li {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        margin: 12px 0;
        p {
          color: #666;
        }
        .deal-date {
          width: 30%;
          text-align: left;
        }
        .deal-num {
          width: 30%;
          text-align: right;
        }
        .deal-cen {
          width: 120px;
          justify-content: space-between;
          display: flex;
          p {
            white-space: nowrap;
          }
          .cen-type {
            font-weight: bold;
          }
          .buy-color {
            color: #00c087;
          }
          .sell-color {
            color: #ff7858;
          }
        }
      }
      .show-more{
        justify-content: center;
        padding-top: 8px;
        color: #3070ff;
      }
    }
  }
  .trade-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 56px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 16px;
    button {
      color: white;
      width: 124px;
      margin-right: 8px;
    }
    .buy-btn {
      background-color: #00c087;
    }
    .sell-btn {
      background-color: #ff7858;
    }
    .star-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 12px;
      }
      p:first-child {
        font-size: 18px;
        margin-bottom: 4px;
      }
    }
  }
}
