.inner-nav {
  height: 44px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  .left-arrow {
    transform: translateX(12px);
  }
  .right-oper {
    transform: translateX(-12px);
  }
  .search-inp {
    width: 86px;
    position: absolute;
    right: 0;
    top: -14px;
    input {
      width: 100%;
      border-radius: 14px;
      background-color: #f8f8f8;
      border: 0;
      outline: none;
      height: 30px;
      padding-left: 28px;
    }
    span {
      position: absolute;
      left: 6px;
      top: 6px;
      font-size: 12px;
      color: #999;
    }
  }
}
.with-border-nav {
  border-bottom: 1px solid #eee;
}
.show-owne {
  height: 96px;
  align-items: flex-start;
  padding-top: 8px;
  .left-arrow {
    transform: translateX(12px) translateY(12px);
  }
  .owne-msg {
    height: 20px;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #d6d9ff;
    margin-top: 8px;
    position: relative;
    img {
      width: 12px;
      height: 5px;
      position: absolute;
      left: 50%;
      margin-left: -6px;
      top: -4px;
    }
    p {
      font-size: 12px;
      color: #4f5eff;
      transform: translateY(1px);
    }
  }
}
.without-bg-nav {
  background-color: rgba(0, 0, 0, 0);
}
