.mine-index {
  .mine-nav {
    width: 100%;
    height: 242px;
    background: url("../../assets/images/mine_bg.png");
    background-size: 100% 100%;
    position: relative;
    .nav-msg {
      display: flex;
      justify-content: center;
      padding: 12px 4%;
      color: white;
      align-items: center;
      position: relative;
      p {
        font-size: 20px;
        font-weight: 500;
        color: #333;
      }
      span{
        position: absolute;
        right:12px;
        top:9px;
      }
    }
    .account-box {
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .account-left {
        display: flex;
        .avatar-box {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 100%;
          }
        }
        .account-msg {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
          padding-left: 14px;
          p:first-child {
            font-size: 16px;
            color: #333;
            font-weight: 500;
          }
          p:last-child {
            font-size: 13px;
            color: #999;
            margin-top: 6px;
          }
        }
      }
      .account-right {
        display: flex;
        padding: 8px 6px;
        border: 1px solid #6471ff;
        border-radius: 4px;
        align-items: center;
        img:first-child {
          width: 14px;
          height: 14px;
        }
        p {
          font-size: 12px;
          color: #6471ff;
          margin: 0 3px;
        }
        img:last-child{
          width: 11px;
          height: 8px;
        }
      }
    }
  }
  .mine-assets-manage {
    // transform: translateY(-100px);
    width: 92%;
    box-shadow: 0 0 15px #eee;
    border-radius: 8px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
    margin-top: -100px;
    z-index: 100;
    position: relative;
    .manage-title {
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }
    .manage-title::before {
      display: inline-block;
      content: "";
      width: 3px;
      height: 12px;
      background-color: #3370ff;
      border-radius: 4px;
      margin-right: 4px;
    }
    ul {
      display: flex;
      justify-content: space-around;
      padding-top: 18px;
      li {
        img {
          width: 30px;
          height: 30px;
          margin-bottom: 6px;
        }
        p {
          font-size: 13px;
          color: #9d9c9d;
        }
      }
    }
    .with-three {
      justify-content: space-around;
    }
  }
  .mine-inv {
    margin-top: 12px;
    .title-msg {
      display: flex;
      justify-content: space-between;
      .title-more-oper {
        display: flex;
        align-items: center;
        p {
          font-size: 12px;
          color: #333;
          margin-left: 12px;
          span {
            margin-right: 4px;
          }
        }
      }
    }
  }
  .mine-oper-bar {
    // transform: translateY(-100px);
    width: 92%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 12px;
    text-align: left;
    font-size: 12px;
    box-shadow: 0 0 15px #eee;
    .--font-size {
      font-size: 12px;
    }
  }
}
.modal-content-inv {
  .close-icon {
    text-align: right;
    font-size: 16px;
    color: #333;
    position: absolute;
    right: 18px;
    top: 12px;
  }
  .modal-title-mine {
    margin-top: 12px;
    text-align: left;
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  .modal-inv-reward {
    padding: 6px 0;
    border-radius: 4px;
    background-color: #f1f2ff;
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
    color: #666;
    p {
      margin-bottom: 8px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .content-box {
    margin-top: 24px;
  }
}
