.help-index {
  .help-list {
    ul {
      padding: 12px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        padding: 12px;
        background-color: white;
        text-align: left;
        .title-msg {
          p:first-child {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 12px;
          }
          p:last-child {
            color: #999;
            font-size: 13px;
          }
        }
      }
    }
  }
}
