.invite-index-new {
  position: relative;
  padding-bottom: 58px;
  .without-bg-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 1;
  }
  .invite-box {
    width: 100%;
    .top-bg {
      background: linear-gradient(
        180deg,
        #d8dbff 0%,
        rgba(244, 244, 251, 0) 100%
      );
      width: 100%;
      height: 390px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .invite-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 12px;
      padding-top: 50px;
      .top-inner-left {
        text-align: left;
        p:first-child {
          font-size: 22px;
          line-height: 28px;
          color: #333;
          font-weight: bold;
          margin-bottom: 8px;
        }
        p {
          font-size: 12px;
          color: #666;
          font-weight: 500;
          span {
            color: #ffa900;
            margin-right: 4px;
          }
        }
        p:last-child {
          margin-top: 4px;
        }
      }
      .top-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
          margin-top: 7px;
          text-align: right;
          text-align: center;
          padding: 2px 8px 3px 7px;
          background-color: #f4f5ff;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border: 1px solid rgba(80, 88, 197, 0.24);
          font-size: 12px;
          color: #8a91f3;
          line-height: 22px;
          white-space: nowrap;
          .iconfont {
            font-size: 12px;
            display: inline-block;
            transform: translateY(1px);
          }
        }
      }
    }
    .banner-text {
      width: calc(100% - 24px);
      margin: 0 auto;
      margin-top: 20px;
      text-align: left;
      position: relative;
      height: 330px;
      background: url("../../assets/images/home_new/invite_bg.png");
      background-size: 100% 100%;
      padding: 12px;
      .text-1 {
        text-align: center;
        font-size: 12px;
        color: #333;
        font-weight: 500;
      }
      .text-2 {
        margin-top: 22px;
        font-size: 14px;
        font-weight: 500;
      }
      .text-3 {
        margin-top: 8px;
        padding: 0 3px;
        line-height: 28px;
        display: table;
        height: 28px;
        font-size: 24px;
        color: #00ad79;
        font-weight: bold;
        background-color: #ededed;
      }
      .text-4 {
        font-size: 12px;
        color: rgba(51, 51, 51, 0.6);
        margin-top: 4px;
      }
    }
    .invite-box-1 {
      width: 100%;
      margin-top: 80px;
      .box-1-bottom {
        .btn-qr {
          width: 100%;
          display: flex;
          align-items: flex-end;
          button {
            flex: 1;
            outline: none;
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            background-image: url("../../assets/images/home_new/invite_btn.png");
            background-size: 100% 100%;
            color: white;
            height: 54px;
            text-align: left;
            padding-left: 74px;
            span:first-child {
              font-size: 16px;
              font-weight: 600;
            }
            span {
              font-size: 12px;
              font-weight: 400;
              display: block;
            }
          }
          .share-qr {
            width: 59px;
            height: 56px;
            background: url("../../assets/images/home_new/invite_left.png");
            background-size: 100% 100%;
            border-radius: 4px;
            margin-left: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
        .share-link {
          display: flex;
          width: 100%;
          padding-top: 8px;
          overflow: hidden;
          justify-content: space-between;
          .link-public {
            width: calc(50% - 6px);
            height: 46px;
            font-size: 16px;
            padding: 0 8px;
            font-weight: 500;
            background-color: #f6f6f6;
            p {
              display: flex;
              align-items: center;
              height: 100%;
              span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: #e4e3e3;
                margin-right: 10px;
                border-radius: 4px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .invite-box-2 {
      width: 100%;
      margin-top: 14px;
      padding: 0 12px;
      .ranking-mine {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }
      .ranking-num {
        text-align: center;
        padding-left: 8px;
        margin-top: 6px;
        font-size: 14px;
        color: #333;
        font-weight: 500;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 22px;
        }
        span {
          margin: 0 10px;
        }
      }
      .three-list {
        margin-top: 52px;
        ul {
          display: flex;
          justify-content: space-between;
          li {
            width: 110px;
            height: 132px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 4px;
            .three-avatar {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 4px;
              border: 1px solid rgba(255, 255, 255, 0.8);
              transform: translateY(-20px);
              img {
                height: 100%;
              }
            }
            p:nth-child(2) {
              font-size: 12px;
              column-rule: #666;
              transform: scale(0.9) translateY(-20px);
            }
            .reward-amount {
              font-size: 12px;
              color: #1a46aa;
              font-weight: 500;
              margin-top: 2px;
              transform: translateY(-12px);
            }
            .rank-icon{
              width: 24px;
              height: 33px;
            }
            .p-24 {
              padding-top: 16px;
              p {
                color: #999;
                padding-top: 24px;
              }
            }
          }
          li:first-child {
            background: linear-gradient(
              180deg,
              #dde8fb 0%,
              rgba(247, 246, 251, 0) 100%
            );
            .reward-amount {
              color: #9c9c9c;
            }
          }
          li:nth-child(2) {
            background: linear-gradient(
              180deg,
              #ffd4a7 0%,
              rgba(247, 246, 251, 0) 100%
            );
            transform: translateY(-20px);
            height: 142px;
            p:nth-child(2) {
              transform: scale(0.9) translateY(-14px);
            }
            .reward-amount {
              transform: translateY(-11px);
              color: #FD7F1F;
            }
          }
          li:last-child {
            background: linear-gradient(
              180deg,
              #fde5de 0%,
              rgba(247, 246, 251, 0) 100%
            );
            .reward-amount {
              color: #e04423;
            }
          }
        }
      }
      .other-list {
        margin-top: -14px;
        .no-data {
          font-size: 14px;
          color: #999;
          padding-top: 40px;
        }
        li {
          display: flex;
          justify-content: space-between;
          padding: 12px;
          align-items: center;
          background: white;
          margin-bottom: 8px;
          box-shadow: 0px 2px 8px 0px rgba(6,158,168,0.07);
          border-radius: 25px;
          .other-left {
            display: flex;
            align-items: center;
            p:first-child {
              width: 20px;
              margin-right: 10px;
              text-align: left;
              font-size: 14px;
              color: #333;
              font-weight: 500;
            }
            p:last-child {
              font-size: 14px;
              color: #666;
              margin-left: 10px;
            }
          }
          .other-right {
            font-size: 14px;
            color: #333;
            font-weight: 500;
          }
          .other-avatar {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
            }
          }
        }
      }
    }
    .invite-btn {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 6px 12px;
      background-color: white;
      z-index: 200;
      display: flex;
      border-top: 1px solid #f8f8f8;
      box-shadow: 0px 0px 0px 0px rgba(230, 230, 230, 0.5);
      .invite-qr {
        width: 44px;
        height: 44px;
        background-color: #f8f8f8;
        border-radius: 4px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .invite-btn-inner {
        flex: 1;
        button {
          width: 100%;
          height: 100%;
          background-color: #5058C5;
          border-radius: 4px;
          border: 0;
          outline: none;
          color: white;
          font-size: 16px;
        }
      }
    }
  }
  .poster-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    transition: 0.3s all;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
    .poster-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 100;
    }
    .remark-save {
      width: 196px;
      height: 60px;
      background: url("../../assets/images/save_bg.png");
      background-size: 100% 100%;
      margin-top: 12px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 8px;
      position: relative;
      z-index: 200;
    }
  }
  .show-poster {
    z-index: 300;
    opacity: 1;
  }
}
.before-create-1 {
  width: 240px;
  height: 428px;
  position: absolute;
  // opacity: 0;
  top: -100%;
  z-index: 500;
  img {
    width: 100%;
    height: 100%;
  }
  p {
    position: absolute;
    left: -18px;
    bottom: 68px;
    font-size: 12px;
    color: white;
    transform: scale(0.8);
    white-space: nowrap;
  }
  .qr-box {
    position: absolute;
    right: 20px;
    bottom: 14px;
  }
}
.swiper-container {
  width: 200%;
  height: 428px;
  display: flex;
  position: relative;
  z-index: 200;
}
.swiper-slide {
  font-size: 18px;
  height: 428px;
  background: #fff;
  transition: 300ms;
  transform: scale(0.8) !important;

  img {
    width: 100%;
    height: 100%;
  }
}
.show-scale-8 {
  transform: scale(0.8) !important;
}
.swiper-slide-active,
.swiper-slide-duplicate-active {
  transform: scale(1) !important;
}
.share-popup {
  padding: 24px 12px;
  .share-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    p {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }
  }
  .share-apps {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li {
        width: 25%;
        .apps-icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          .icon-box {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            justify-items: center;
          }
          img {
            height: 100%;
          }
          p {
            margin-top: 8px;
            font-size: 12px;
            color: #333;
          }
        }
      }
      li:last-child {
        margin-top: 12px;
      }
    }
  }
}
