.home-index-new {
  .nav-logo {
    box-sizing: border-box;
    width: 100%;
    background: url("../../assets/images/home_new/top_bg.png");
    background-size: 100% 100%;
    height: 280px;
    padding: 12px;
    padding-right: 0;
    position: relative;
    .bibi-logo {
      height: 20px;
      margin-top: 9px;
    }
    .play-video-btn{
      position: absolute;
      width: 58px;
      height: 50px;
      background: url('../../assets/images/home_new/video_btn.png');
      background-size: 100% 100%;
      right: 0;
      top: 84px;
      display: flex;
      padding-left: 10px;
      align-items: center;
      .btn-inner{
        width: 34px;
        height: 34px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .iconfont{
          font-size: 14px;
          color: #5B6CFF;
        }
      }
    }
    .down-icon {
      position: absolute;
      height: 30px;
      width: 54px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(135, 159, 255, 0.3);
      backdrop-filter: blur(1px);
      right: 12px;
      top: 0;
      border-radius: 6px;
      box-shadow: 0px 2px 6px 0px rgba(0, 15, 182, 0.13);
      background: linear-gradient(
        90deg,
        rgba(135, 144, 238, 0.3) 0%,
        rgba(133, 142, 236, 0.27) 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      span {
        font-size: 12px;
        font-weight: bold;
        transform: scale(0.8);
        color: white;
      }
    }
    .logo-down {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: relative;
      z-index: 200;
    }
  }
  .home-banner {
    width: 100%;
    background-color: #f8f8f8;
    .banner-items {
      height: 160px;
      img {
        width: 100%;
        height: 100%;
      }
      p {
        line-height: 180px;
      }
    }
  }
  .home-adv-card {
    background: white;
    .home-adv {
      padding: 12px;
      width: 100%;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      .adv-banner {
        border-bottom: 1px solid #eee;
        height: 34px;
        flex: 1;
        margin-left: 8px;
        overflow: hidden;
        .adv-item {
          height: 34px;
          font-size: 13px;
          display: flex;
          padding-right: 12px;
          align-items: center;
          justify-content: flex-start;
          p {
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .home-card-list {
    ul {
      display: flex;
      padding: 16px 8px;
      padding-top: 12px;
      justify-content: space-around;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 48px;
          height: 48px;
        }
        p {
          margin-top: 4px;
          font-size: 14px;
          color: #333;
        }
      }
    }
  }
  .f-12-list {
    font-size: 12px;
    ul {
      li {
        width: 25%;
        p {
          white-space: wrap;
        }
      }
    }
  }
  .home-assets {
    background-color: white;
    padding: 0 12px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    .assets-box {
      width: 100%;
      height: 74px;
      background: url("../../assets/images/home_new/assets_3.png");
      background-size: 100% 100%;
      margin-right: 12px;
      text-align: left;
      padding: 14px 20px;
      margin-top: 12px;
      p:first-child {
        font-size: 14px;
        color: #0a1e26;
        span {
          font-size: 12px;
          display: inline-block;
          transform: scale(0.9) translateX(-3px);
          color: rgba(10, 30, 38, 0.6);
        }
      }
      p:last-child {
        display: inline-block;
        font-size: 18px;
        color: #3a4df4;
        font-weight: 500;
        margin-top: 13px;
        padding-left: 20px;
      }
    }
    .ann-help {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .inner-public {
        width: calc(50% - 6px);
        height: 70px;
        text-align: left;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p:first-child {
          font-size: 14px;
          font-weight: 500;
          color: #45332a;
        }
        p:last-child {
          font-size: 12px;
          margin-top: 4px;
          color: rgba(69, 51, 42, 0.6);
        }
      }
      .help-inner {
        background: url("../../assets/images/home_new/assets_1.png");
        background-size: 100% 100%;
      }
      .ann-inner {
        background: url("../../assets/images/home_new/assets_2.png");
        background-size: 100% 100%;
      }
    }
  }
  .home-help {
    display: flex;
    padding: 26px 20px;
    background-color: white;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .help-public {
      display: flex;
      align-items: center;
      .public-title {
        text-align: left;
        margin-left: 12px;
        p:first-child {
          font-size: 15px;
          color: #333;
          font-weight: 500;
          margin-bottom: 4px;
        }
        p:last-child {
          font-size: 13px;
          color: #c5c5c6;
        }
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    .label-line {
      width: 1px;
      height: 36px;
      background-color: #ccc;
    }
  }
  .home-tex-card {
    background: white;
    width: calc(100% - 24px);
    margin: 0 auto;
    padding: 12px 24px;
    border-radius: 40px;
    margin-top: -70px;
    border-bottom-left-radius: 0;
    box-shadow: 0px 2px 6px 0px rgba(0, 5, 88, 0.03);
    padding-bottom: 0;
    position: relative;
    z-index: 2;
    .adm-page-indicator-dot-active {
      background-color: #4f56c4;
      border-radius: 2px;
    }
    .adm-swiper-track {
      padding-bottom: 16px;
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      li {
        width: 32%;
        text-align: left;
        padding-left: 12px;
        .coin-qu {
          font-size: 12px;
          color: #333;
        }
        .coin-price {
          font-size: 16px;
          font-weight: bold;
          margin: 4px 0;
          color: #333;
        }
        .coin-rate {
          font-size: 12px;
          padding: 2px 0;
          border-radius: 4px;
          font-weight: 500;
          display: inline-block;
        }
      }
      .up-color {
        .coin-rate {
          color: #25f1b4;
        }
      }
      .down-color {
        .coin-rate {
          color: #fb897b;
        }
      }
    }
  }
  .home-tes-list {
    background-color: white;
    padding: 12px;
    padding-top: 4px;
    text-align: left;
    .list-title {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      color: #333;
      text-align: left;
      img {
        width: 25px;
        height: 17px;
        margin-right: 6px;
        transform: translateY(2px);
      }
      margin-bottom: 8px;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding: 0 12px;
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px rgba(0, 179, 126, 0.2),
          inset 0px 0px 0px 0px #f8f8f8;
        margin-bottom: 8px;
        border-radius: 28px;
        .list-public {
          display: flex;
          align-items: center;
        }
        .coin-msg-hour {
          display: flex;
          align-items: center;
          .coin-icon {
            width: 32px;
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            img {
              height: 100%;
            }
          }
          .coin-msg {
            text-align: left;
            font-size: 14px;
            color: #333;
            p {
              font-weight: 500;
              span {
                font-size: 12px;
                color: #999;
                font-weight: 400;
              }
            }
            p:last-child {
              margin-top: 4px;
              color: #c5c5c6;
            }
          }
        }
        .list-price {
          font-size: 14px;
          color: #333;
          margin-right: 14px;
          font-weight: 500;
        }
        .list-rate {
          font-size: 13px;
          font-weight: 500;
          padding: 5px 8px;
          min-width: 60px;
          border-radius: 4px;
          border-radius: 14px;
        }
      }
      .up-color {
        .list-rate {
          background-color: #e3ffd9;
          color: #5acf52;
        }
      }
      .down-color {
        .list-rate {
          background-color: #ffe0df;
          color: #ef7171;
        }
      }
    }
  }
}
.load-tes {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 7000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .video-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    position: relative;
    z-index: 300;
  }
  .iconfont {
    color: white;
    font-size: 44px;
    position: relative;
    z-index: 310;
    margin-top: 86px;
  }
}
