.register-index {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-bottom: 24px;
  .bg-box {
    height: 100vh;
    background: url("../../assets/images/int_bg.png");
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
  }
  .up-bg-box {
    position: relative;
    z-index: 300;
  }
  .close-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
    }
    padding: 12px 16px;
    .language-box {
      padding: 4px 11px;
      border-radius: 18px;
      border: 1px solid rgba(94, 102, 112, 0.3);
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }
  }
  .page-remark {
    margin-top: 16px;
    text-align: center;
    img {
      width: 128px;
      height: 48px;
    }
    p {
      margin-top: 12px;
      font-size: 26px;
      font-weight: 500;
      color: #40474f;
    }
  }
  .register-way {
    width: 100%;
    margin-top: 30px;
    ul {
      display: flex;
      justify-content: center;
      li {
        padding: 8px 24px;
        border-radius: 4px;
        font-size: 18px;
        color: #666;
        font-weight: 500;
        transition: 0.3s all;
        span {
          display: none;
        }
      }
      li:nth-child(2) {
        padding: 0;
        margin: 0 40px;
        display: flex;
        align-items: center;
      }
      li:nth-child(2)::before {
        content: "";
        width: 1px;
        height: 12px;
        background-color: #cccccc;
        display: inline-block;
      }
      .active-intway {
        background-color: #eaf3ff;
        color: #1677ff;
      }
    }
  }
  .login-box {
    margin-top: 44px;
    padding: 0 20px;
    text-align: left;

    .box-public {
      margin-bottom: 16px;
      position: relative;
      p {
        font-size: 14px;
        color: #999;
        margin-bottom: 8px;
      }
      input {
        height: 44px;
        width: 100%;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-left: 32px;
      }
      span {
        position: absolute;
        top: 50%;
        margin-top: 2px;
        left: 8px;
      }
      .select-perfix {
        position: absolute;
        left: 34px;
        top: 57%;
        font-size: 14px;
        color: #666;
        display: flex;
        align-items: center;
      }
      .select-perfix::after {
        content: "";
        display: inline-block;
        height: 12px;
        width: 1px;
        background-color: #ccc;
        margin-left: 12px;
      }
      .send-code {
        position: absolute;
        font-size: 14px;
        color: #3070ff;
        right: 12px;
        top: 37px;
      }
      .gra-btn {
        filter: grayscale(100%);
      }
    }
    .other-p-l {
      input {
        padding-left: 80px;
      }
    }
    .select-country {
      input {
        padding-left: 12px;
      }
      span {
        left: auto;
        right: 12px;
      }
      .mask-select {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .adm-dropdown-item-title-text {
        display: inline-block;
        width: 100%;
      }
    }
    .read-protocol {
      .need-outline {
        color: #1677ff;
        font-weight: 500;
        text-decoration: underline;
      }
    }
    .login-btn {
      margin-top: 54px;
    }
  }
  .register-remark {
    width: calc(100% - 24px);
    margin: 0 auto;
    margin-top: 22px;
    padding: 12px 14px;
    background-color: #f8f8f8;
    border-radius: 4px;
  }
}
.register-index-th {
  .up-bg-box {
    .register-way {
      .active-intway {
        color: #00d9b5;
      }
    }
    .login-box {
      .box-public {
        .send-code {
          color: #00d9b5;
        }
      }
      .read-protocol {
        .need-outline {
          color: #00d9b5;
        }
      }
    }
  }
}
.register-index-new {
  .bg-box {
    height: 474px;
    background: url("../../assets/images/int_bg_new.png");
    background-size: 100% 100%;
  }
  .up-bg-box {
    .page-remark {
      img {
        width: 110px;
        height: 70px;
      }
      p {
        display: none;
      }
    }
    .register-way {
      ul {
        li {
          width: 150px;
          height: 40px;
          line-height: 40px;
          padding: 0;
          background-color: white;
          font-size: 14px;
          color: #9da3c3;
          span {
            display: inline-block;
            font-size: 16px;
            margin-right: 4px;
          }
        }
        li:first-child {
          margin-right: 28px;
        }
        li:nth-child(2) {
          display: none;
        }
        .active-intway {
          background-color: #5058c5;
          color: white;
        }
      }
    }
    .login-box {
      width: calc(100% - 24px);
      margin: 0 auto;
      margin-top: 30px;
      background-color: white;
      border: 1px solid #e0e4fc;
      padding: 26px 22px;
      border-radius: 8px;
      .box-public {
        p {
          color: #666;
        }
        input {
          border-radius: 22px;
        }
      }
      .read-protocol {
        span {
          color: #1677ff;
        }
      }
      .login-btn {
        button {
          background-color: #5058c5;
        }
      }
    }
  }
}
.adm-picker-view {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.select-country-popup {
  padding: 12px;
  p {
    text-align: right;
  }
}
.select-area-code {
  padding-top: 18px;
  .select-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
    padding: 0 24px;
    p {
      font-size: 18px;
      color: #333;
      font-weight: 500;
    }
  }
  .search-code {
    width: calc(100% - 28px);
    height: 40px;
    display: flex;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0 12px;
    align-items: center;
    margin: 0 auto;
    span {
      margin-right: 8px;
    }
    input {
      height: 100%;
      flex: 1;
      outline: 0;
      border: 0;
    }
  }
  .code-list {
    margin-top: 16px;
    ul {
      padding: 0 12px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        padding: 12px;
        .country-msg {
          display: flex;
          align-items: center;
          .country-logo {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            img {
              height: 100%;
            }
          }
          p {
            font-size: 15px;
            color: #333;
          }
        }
      }
      .active-area {
        background-color: #f8f8f8;
      }
    }
  }
}
.register-index-asx {
  background-color: #f6f7f8;
  .bg-box {
    height: 296px;
    background: linear-gradient(180deg, #8abff6 0%, #f8f8f8 100%);
  }
  .up-bg-box {
    .page-remark {
      img {
        width: 108px;
        height: 40px;
      }
      p {
        color: #364ffc;
        font-weight: 800;
        font-size: 19px;
        text-shadow: 0px 2px 4px rgba(47, 71, 231, 0.26);
      }
    }
    .register-way {
      ul {
        li {
          position: relative;
          .active-line {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background: linear-gradient(
              90deg,
              #364ffc 0%,
              rgba(54, 79, 252, 0.15) 100%
            );
            width: 0;
            transition: .3s all;
          }
        }
      }
      .active-intway {
        background-color: rgba(0, 0, 0, 0);
        .active-line{
          width: 100%;
        }
      }
    }
    .login-box {
      width: calc(100% - 24px);
      margin: 0 auto;
      margin-top: 12px;
      background-color: rgba(255, 255, 255, 0.12);
      padding: 24px 22px;
      border-radius: 8px;
      border: 1px solid rgba(224, 228, 252, 0.35);
      position: relative;
      .box-public {
        p {
          color: #666;
          margin-bottom: 10px;
        }
        input {
          border-radius: 22px;
          padding-left: 14px;
        }
        span {
          display: none;
        }
        .send-code {
          top: 40px;
        }
      }
      .other-p-l{
        input{
          padding-left: 60px;
        }
        .select-perfix{
          left: 14px;
        }
      }
      .select-country {
        span {
          display: block;
        }
      }
      .login-btn {
        button {
          background-color: #4e63f4;
        }
      }
      .register-btn {
        span {
          color: #1677ff;
        }
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .register-index {
    width: 750px;
    left: 50%;
    margin-left: -375px;
  }
}
