.footer-nav {
  flex: 0;
  box-shadow: 0px -2px 10px #ccc;
  position: relative;
  z-index: 2000;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  background: white;
  transition: 0.3s all;
  .iconfont {
    font-size: 21px;
    color: #ccc;
  }
  .icon-a-bianzu4{
    display: inline-block;
    transform: translateY(2px);
  }
  .adm-tab-bar-item-title {
    color: #ccc;
  }
  .adm-tab-bar-item-active {
    .iconfont {
      color: #4f5eff;
    }
    .adm-tab-bar-item-title {
      color: #4f5eff;
    }
  }
}
.hidden-nav {
  transform: translateY(100%);
}
.th-footer{
  .adm-tab-bar-item-active {
    .iconfont {
      color: #00D9B5;
    }
    .adm-tab-bar-item-title {
      color: #00D9B5;
    }
  }
}
