.trade-order {
  .trade-type-inner {
    background-color: white;
    display: flex;
    padding-top: 8px;
    align-items: center;
    .adm-tabs {
      flex: 1;
      .adm-tabs-header {
        border: 0;
      }
    }
    .filter-btn {
      margin-right: 12px;
      transform: translateY(-3px);
    }
  }
}
