.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  .router-view {
    flex: 1;
    overflow: hidden;
  }
  .footer {
    background-color: white;
  }
}
.click-span {
  color: #3070ff;
}
.adm-modal{
  z-index: 2020;
}