.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100vw;
  max-width: 750px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  .router-view {
    flex: 1;
    overflow: hidden;
  }
  .footer {
    background-color: white;
  }
}
.click-span {
  color: #3070ff;
}
.adm-modal {
  z-index: 2020;
}
.load-view {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2400;
  top: 0;
  touch-action: none;
  left: 0;
  transition: 0.4s all;
  img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .load-view {
    width: 750px;
    left: 50%;
    margin-left: -375px;
  }
}
.load-end {
  opacity: 0;
  display: none;
}
.adm-dropdown-nav {
  border: 0 !important;
}
.load-data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  div {
    width: 30%;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.adm-popup {
  z-index: 5000;
}
.adm-toast-mask {
  z-index: 8000 !important;
}
.load-list {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adm-popover {
  z-index: 5100;
}
.adm-tabs-header {
  border: 0;
}
:root:root{
  // YD
  // --adm-color-primary: #6B7BFF;
  // 泰国
  // --adm-color-primary: #00D9B5;
  //ASX
  // --adm-color-primary: #6B7BFF;
}
