<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <table width="640px">
        <tbody>
            <tr>
                <td>
                    <div class="logo" style="text-align:center;padding-top:84px;margin-bottom:90px;">
                        <img style="width: 214px;height:80px;" src="https://home.ib.cc/email/color_logo.png" alt="">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="code-title" style=" font-size: 30px;color: #333;margin-bottom: 0;">Your Verification
                        code：
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="code-box"
                        style="text-align: center; border-radius: 10px;margin: 0 auto;text-align: center;">
                        <p
                            style=" text-align: center;font-size: 55px;font-weight: 500;color: #333;letter-spacing: 3px;margin: 30px auto;">
                            900616</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color:#666666;margin-top: 14px;">Never provide verification codes to anyone, including
                        official customer service.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding:15px 22px;background:#FFF3F3;border-radius:4px;width:100%;margin-top: 16px;">
                        <p style="font-size: 18px;margin:0;color: #DD7A78;">For security reasons, the verification code
                            will expire after 30 minutes, please do not share the verification code with anyone. If you
                            did not initiate this action, please change your password immediately and contact our
                            official customer support team.</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="width:100%;height:1px;background:#eee;margin-top: 80px;"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 14px;color: #999;text-align: center;">Thank you for choosing BIBI</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 14px;color: #999;margin-top: 6px;text-align: center;">If you have any questions and suggestions,
                        please contact our customer service team</p>
                </td>
            </tr>
        </tbody>
    </table>
    <script src="" async defer></script>
</body>

</html>