.safe-index {
  text-align: left;
  .need-auth {
    width: 92%;
    margin: 16px auto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    padding: 12px;
    color: #d2a820;
    background-color: #f5f3e6;
    border-radius: 8px;
    span {
      margin-left: 4px;
    }
  }
  .safe-list {
    width: 92%;
    margin: 12px auto 30px;
    border-radius: 8px;
    overflow: hidden;
    .adm-list-item-content-main {
      font-size: 14px;
      padding-left: 8px;
    }
    .adm-list-body {
      border: 0;
    }
  }
}
