.quotes-index {
  .tes-nav {
    width: 100%;
    height: 44px;
    background-color: white;
    border-bottom: 1px solid #eee;
    line-height: 44px;
    font-size: 16px;
    font-weight: 500;
  }
  .tes-tabs {
    background-color: white;
    padding-top: 6px;
  }
  .tes-all-list {
    background-color: white;
    padding: 16px;
    padding-top: 0;
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f8f8f8;
        padding: 12px 0;
        .list-public {
          display: flex;
          align-items: center;
        }
        .coin-msg-hour {
          text-align: left;
          font-size: 14px;
          color: #333;
          p {
            font-weight: 500;
          }
          p:last-child {
            margin-top: 4px;
            color: #c5c5c6;
          }
        }
        .list-price {
          font-size: 14px;
          margin-right: 24px;
        }
        .list-rate {
          font-size: 13px;
          font-weight: 500;
          padding: 8px 6px;
          border-radius: 4px;
        }
      }
      li:last-child {
        border: 0;
      }
      .up-color {
        .list-price {
          color: #00c087;
        }
        .list-rate {
          background-color: #00c087;
          color: white;
        }
      }
      .down-color {
        .list-price {
          color: #fd7a56;
        }
        .list-rate {
          background-color: #fd7a56;
          color: white;
        }
      }
    }
    ul::-webkit-scrollbar {
      display: none;
    }
  }
  .tes-all-list-th {
    ul {
      .up-color {
        .list-price {
          color: #5bc638;
        }
        .list-rate {
          background-color: #5bc638;
          color: white;
        }
      }
      .down-color {
        .list-price {
          color: #fd5656;
        }
        .list-rate {
          background-color: #fd5656;
          color: white;
        }
      }
    }
  }
  .tes-all-list-new {
    ul {
      .up-color {
        .list-price {
          color: #5acf52;
        }
        .list-rate {
          background-color: #e3ffd9;
          color: #5acf52;
        }
      }
      .down-color {
        .list-price {
          color: #ef7171;
        }
        .list-rate {
          background-color: #ffe0df;
          color: #ef7171;
        }
      }
    }
  }
}
